body {
    background-color: lightblue;
}

h1 {
    font-size: 50px;;
    text-align: center;
}

.TextBox {
    margin-top: 30px;;
    font-size: 30px;
    size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    float: center;
    border: 3px solid blue;
    border-radius: 10px;
    background-color: lightblue;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: black;
}

.StartButton {
    background-color: lightblue;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    padding: 30px 30px;
    border: 3px solid blue;
    border-radius: 10px;
}

.LengthPicker {
    background-color: lightblue;
    border: 3px solid blue;
    border-radius: 5px;
    margin-left: 10px;
}

.LengthPickerLabel {
    margin-left: 15px;
    font-size: 20px;
}